<!--transfer/dashboard/-->
{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}
	<!-- navbar --> 
	<div class="templatemo-top-menu">
		<div class="container">
			<!-- Static navbar -->
			<nav class="navbar navbar-expand-lg navbar" role="navigation">
				<div class="container">
					<a href="{% url 'dashboard' %}" class="navbar-brand"><img src="{% static 'transferApp/images/official_switch.png' %}" alt="switch logo" title="switch" height="80" /></a>
					<div class="collapse navbar-collapse nav justify-content-end" id="navbarNav">
						<ul class="navbar-nav" style="margin-top: 40px;">
						  <li class="nav-item ">
							<a class="nav-link" href="{% url 'dashboard' %}">Home <span class="sr-only">(current)</span></a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" href="{% url 'transfer' %}">Transaction</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" href="{% url 'support' %}">Support</a>
						  </li>
						  <li class="nav-item dropdown active">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="false">{{user.first_name}}</a>
							  <div class="dropdown-menu">
							  	<a class="dropdown-item" href="{% url 'profile' %}">Account</a>
								{% if user.is_superuser %}
								 <a class="dropdown-item" href="{% url 'signup' %}">Create User</a>
								 <a class="dropdown-item" href="{% url 'userInfo' %}">View all Users</a>
								 <a class="dropdown-item" href="{% url 'transactions' %}">View all Transactions</a>
								 <a class="dropdown-item" href="{% url 'rateManagement' %}">Rates</a>
								 {% endif %}
							  	<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
							  </div>
						  </li>
						</ul>
					</div><!--/.nav-collapse -->
				
				</div>
			</nav>
		</div> <!-- /container -->
	</div>
	  
	<div>
	</div>
	  
	<!-- Welcome -->
	<div class="templatemo-welcome" id="templatemo-welcome">
		<div class="container">
			<div class="templatemo-slogan text-center">
				<span class="txt_darkgrey"></span><span class="txt_red">Switch</span>
				<p class="txt_slogan"><i>An application that facilitate the use of transfer in a company</i></p>
			<button class="btn btn-danger" onClick="location.href='{% url 'transfer' %}'">Transaction</button>
			</div>
		</div>
	</div>
	  
	<!-- rate -->
	  <div class="profile container">
		  <form class="" action="{% url 'rateManagementSingle' rate.id %}" method="post">
			  {% csrf_token %}
			  <h5 class="text-center mt-4">Rate Change</h5>
			  <div class="form-group text-center">
				<label for="" class="col-sm-2 col-form-label">Add New Rate</label>
				<input name="unitRate" type="number" step="0.01" class="form-control" style="width: 500px; margin-left: auto;margin-right: auto;">
			  </div>
			  <div class="form-group text-center">
				  <button class="btn btn-info" type="submit">Add New Rate</button>
			  </div>
			</form>
	  </div>
{% endblock %}