<!--transfer/dashboard/-->
{% extends 'base.html' %}
{% load static %}
{% block title %}Transactions Summary{% endblock %}
{% block content %}
	<!-- checking if user is set -->
	{% if not user.first_name %}
		<script>window.location.href = "{% url 'profile' %}";</script>
	{% endif %}
	<!-- navbar --> 
	<div class="templatemo-top-menu">
		<div class="container">
			<!-- Static navbar -->
			<nav class="navbar navbar-expand-lg navbar" role="navigation">
				<div class="container">
					<a href="{% url 'dashboard' %}" class="navbar-brand"><img src="{% static 'transferApp/images/official_switch.png' %}" alt="switch logo" title="switch" height="80" /></a>
					<div class="collapse navbar-collapse nav justify-content-end" id="navbarNav">
						<ul class="navbar-nav" style="margin-top: 40px;">
						  <li class="nav-item">
							<a class="nav-link" href="{% url 'dashboard' %}">Home <span class="sr-only">(current)</span></a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" href="{% url 'transfer' %}">Transaction</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" href="{% url 'support' %}">Support</a>
						  </li>
						  <li class="nav-item dropdown active">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="false">{{user.first_name}}</a>
							  <div class="dropdown-menu">
							  	<a class="dropdown-item" href="{% url 'profile' %}">Account</a>
								{% if user.is_superuser %}
								 <a class="dropdown-item" href="{% url 'signup' %}">Create User</a>
								 <a class="dropdown-item" href="{% url 'userInfo' %}">View all Users</a>
								 <a class="dropdown-item" href="{% url 'transactions' %}">View all Transactions</a>
								 <a class="dropdown-item" href="{% url 'rateManagement' %}">Rates</a>
								 {% endif %}
							  	<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
							  </div>
						  </li>
						</ul>
					</div><!--/.nav-collapse -->
				
				</div>
			</nav>
		</div> <!-- /container -->
	</div>
	  
	<!-- Welcome -->
	<div class="templatemo-welcome" id="templatemo-welcome">
		<div class="container">
			<div class="templatemo-slogan text-center">
				<span class="txt_darkgrey">Welcome to </span><span class="txt_red">Switch</span>
				<p class="txt_slogan"><i>An application that facilitate the use of transfer in a company</i></p>
			</div>
		</div>
	</div>
	  
	<!-- Transaction -->
	  <div class="transaction container">
		  <h5 class="text-center mt-4">Transaction</h5>
		  <div class="container">
			  <p class="text-center"><a href="#" onclick="printTable();return false;"><img src="{% static 'transferApp/images/printer.ico' %}" height="25" alt="printing"></a></p>
			  <div class="card mb-3" id="printAll">
			  <div class="card-header bg-info text-center">List of all transaction made</div>
			  <div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>From</th>
							<th>Original Amount</th>
							<th>Transfered Amount</th>
							<th>Date</th>
							<th>User</th>
							<th>Comment</th>
						</tr>
					</thead>
					<tbody>
					  {% if transaction %}
					  {% for transact in transaction %}
					  <tr>
						<td>{{transact.id}}</td>
						<td>{{transact.transfer_origin}}</td>
						<td>{{transact.transfer_originAmount}}</td>
						<td>{{transact.transfer_givenAmount}}</td>
						<td>{{transact.transfer_Date}}</td>
						<td>{{transact.transfer_by.get_full_name}}</td>
						<td>{{transact.transfer_comment}}</td>
					  </tr>
					  {% endfor %}
					  {% else %}
					  <p class="">No transaction made</p>
					  {% endif %}
					</tbody>
				  </table>
			  </div>
			</div>
		  </div>
		  
	  </div>
{% endblock %}
{% block script %}
	<script>
		//print transaction
		function printTable(){
			var printContents = document.getElementById("printAll").innerHTML;
			var originalContents = document.body.innerHTML;
			document.body.innerHTML = printContents;
			window.print();
			document.body.innerHTML = originalContents;
		}
	</script>
{% endblock %}